build/web/WEB-INF/classes/META-INF/persistence.xml
nbproject/private/private.properties
nbproject/project.properties
build-impl.xml~
*.class
.DS_Store
fingerUebung5/setup/glassfish-resources.xml
nbproject/genfiles.properties
nbproject/project.xml
